<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Bene_Tesla_Company</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <h1>Bem-Vindo ao bene-Tesla </h1>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>

            <p>
                o <strong>Bene Tesla</strong> é um aplicativo que tem como objetivo facilitar o acesso ao sistema de energia elétrica.

            </p>
            <p>
                O aplicativo permite ao usuário acessar os dados de consumo de energia elétrica,quais sistema de energia elétrica está sendo utilizado, o valor da conta e a quantidade de energia que o usuário gastou.
                <p>
                    O aplicativo também permite ao usuário acessar o histórico de consumo de energia elétrica, onde é possível visualizar o histórico de consumo de energia elétrica de um determinado período.

                </p>
        </ion-card-content>
    </ion-card>


    <div>
        <ion-button expand="block" routerLink="/consumo">Historico</ion-button>
        <ion-button expand="block" routerLink="/home">Consultar Consumo</ion-button>

        <ion-button expand="block" routerLink="/login">Fatura do Mes</ion-button>
        <ion-button expand="block" routerLink="/register">Realizar pagamento</ion-button>
        <ion-button expand="block" routerLink="/register">Cadastrar Usuário</ion-button>
        <ion-button expand="block" routerLink="/register">Cadastrar Sistema de Energia</ion-button>
        <ion-button expand="block" routerLink="/register">Cadastrar Conta</ion-button>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
        <ion-title>Bene_Tesla_Company</ion-title>
    </ion-toolbar>